
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <div class="spacer"></div>
</div>

<div class="content" role="main">
  <div class="task-form">
    <h1>Calendar</h1>
    <p>Please enter your pending tasks...</p>
    <br />
    <div>
      <mat-form-field class="input-field">
        <input matInput [(ngModel)]="inputTitle" placeholder="Task title" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="input-field">
        <textarea
          matInput
          [(ngModel)]="inputDescription"
          placeholder="Task description"
          rows="3"
        ></textarea>
      </mat-form-field>
    </div>

    <div class="card-container">
      <button mat-button (click)="saveTask()" class="card" tabindex="0">
        <span>SAVE</span>
      </button>
    </div>
  </div>

  <div class="task-list">
    <mat-card class="example-card" *ngFor="let task of tasks">
      <div class="task-container">
        <div class="task-content">
          <mat-card-header>
            <mat-card-title>
              {{ task.title }}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{ task.description }}</p>
          </mat-card-content>
        </div>
        <div class="task-content-buttons">
          <button
            mat-button
            class="btn-edit"
            (click)="editTask(task)"
            tabindex="0"
          >
            Edit
          </button>
          <button
            mat-button
            class="btn-delete"
            (click)="deleteTask(task.id)"
            tabindex="0"
          >
            Delete
          </button>
        </div>
      </div>
    </mat-card>
  </div>
</div>
